<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>battleshit</title>
  </head>
  <body>
    <div class="modal">
      <div class="modal-header">
        <h1>Enter your name</h1>
        <button class="btn btn-close-modal">&times;</button>
      </div>
      <div class="modal-form">
        <div class="name-input">
          <label for="playerName"></label>
          <input
            type="text"
            name="playerName"
            id="playerName"
            placeholder="Il Capitano"
          />
        </div>
      </div>
    </div>
  </body>
</html>
