<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>battleshit</title>
    <link rel="stylesheet" href="style.css" type="text/html" />
  </head>
  <body>
    <div class="wrapper">
      <div class="modal">
        <div class="modal-header">
          <h2>Enter your name</h2>
          <button class="btn btn-close-modal">&times;</button>
        </div>
        <form action="/" id="form">
          <label for="playerName"></label>
          <input
            type="text"
            name="playerName"
            id="playerName"
            placeholder="Il Capitano"
          />
        </form>
      </div>
      <main class="main hidden">
        <div class="header">
          <h1 class="turn" data-current-player="Player 1">
            It's player 1's turn
          </h1>
        </div>
        <div class="boards-container">
          <div class="board-container">
            <h2>Your Board</h2>
            <div class="board player-board"></div>
          </div>
          <div class="board-container">
            <h2>Opponent's Board</h2>
            <div class="board opponent-board"></div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
