:root {
  box-sizing: border-box;
  --border-radius: 0.75rem;
  --main-blue: #007bff;
  --grid-size: 37px;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
}

.header {
  margin: 2rem 0;
  text-align: center;
}

.boards-container {
  display: flex;
  justify-content: space-around;
}

.board {
  padding: 20px;
}

.board h2 {
  margin-bottom: 15px;
  color: var(--main-blue);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, var(--grid-size));
  grid-template-rows: repeat(10, var(--grid-size));
  gap: 2px;
  border: 1px solid black;
}

.grid-cell {
  width: var(--grid-size);
  height: var(--grid-size);
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.grid-cell:hover {
  background-color: #d0d0d0;
}

.btn {
  cursor: pointer;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: var(--border-radius);
}

.modal-header {
  margin-bottom: 2rem;
}

.btn-close-modal {
  position: absolute;
  top: 0.25rem;
  right: 2rem;
  border: none;
  background: none;
  font-size: 3rem;
}

#playerName {
  width: 100%;
  padding: 12px;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

#playerName:focus {
  border: 1px solid var(--main-blue);
}

.hidden {
  display: none;
}
